.first_pane {
    -fx-background-image: url("../Images/Athletes_background");
    -fx-background-size: cover;
}

.btn1 {
    -fx-text-decoration: none;
    -fx-padding: 12px;
    -fx-font-family: "Aptos", Arial, sans-serif;
    -fx-font-size: 1em;
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-background-radius: 30px; /* Rayon de bordure du fond */
    -fx-box-shadow: 5px 3px 8px #444444;
}

.texte1  {
    -fx-fill: black;
    -fx-font-family: "Aptos", Arial, sans-serif;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size:  2em;
}

.gridPane {
    -fx-background-image: url("../Images/Image_fond-athletes.jpg");
    -fx-background-size: cover;
}